sudo: false
language: go
go:
  - 1.12

env:
  - GO111MODULE=on

branches:
  except:
    - gh-pages

addons:
  apt:
    packages:
      - zsh

install:
  - bundle install --jobs 4 --retry 3 --path vendor/bundle
  - go mod download

script:
  - go test ./...
  - script/build
  - bundle exec cucumber -s --tags=~@wip --tags=~@recent-git-only

before_cache:
  - bundle clean

cache:
  directories:
    - vendor/bundle
    - $GOPATH/pkg/mod
