name: Integration Tests
on:
  push:
    branches-ignore:
      - 'gh-pages'
  pull_request:
    branches-ignore:
      - 'gh-pages'

permissions:
  contents: read

jobs:
  test:
    runs-on: ${{ matrix.os }}
    # continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        # NOTE: continue-on-error still marks test as failed in UI, see
        # https://github.com/actions/toolkit/issues/399. Disabling expected
        # failing Windows integration test for now to avoid confusion.
        #
        # experimental: [false]
        # include:
        #   - os: windows-latest
        #     go-version: 1.17.x
        #     experimental: true
    steps:
      # current build script requires git history to create a version number
      - name: Checkout code with full history
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
      - name: Setup Ruby
        uses: ruby/setup-ruby@4ff6f3611a42bc75eee1e5138240eb1613f48c8f # v1.266.0
        with:
          ruby-version: '3.2'
          bundler-cache: true
      - name: Build binary
        run: make build
      - name: Install shells on ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get -y install zsh fish
      - name: Install shells on macos
        if: matrix.os == 'macos-latest'
        run: brew install fish
      - name: Run integration Tests
        run: bundle exec cucumber -s --tags="not @wip" --color
