name: Integration Tests
on:
  push:
    branches-ignore:
      - 'gh-pages'
  pull_request:
    branches-ignore:
      - 'gh-pages'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    # continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.17.x]
        os: [ubuntu-latest, macos-latest]
        # NOTE: continue-on-error still marks test as failed in UI, see 
        # https://github.com/actions/toolkit/issues/399. Disabling expected
        # failing Windows integration test for now to avoid confusion.
        #
        # experimental: [false]
        # include:
        #   - os: windows-latest
        #     go-version: 1.17.x
        #     experimental: true
    steps:
      # current build script requires git history to create a version number
      - name: Checkout code with full history
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'
          bundler-cache: true
      - name: Build binary
        run: rake build
      - name: Install shells on ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get -y install zsh fish
      - name: Install shells on macos
        if: matrix.os == 'macos-latest'
        run: brew install fish
      - name: Run integration Tests
        run: bundle exec cucumber -s --tags="not @wip" --color
